{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% translate "Корпоративная культура" %}{% endblock title %}

{% block content %}
<div>
    <div class="max-w-screen-xl mx-auto p-4 flex items-start">
        <div class="bg-white w-96 mr-4 shadow rounded">
            <ul>
                <li>
                    <a class="p-4 block border-b text-gray-700 hover:bg-gray-100" href="{% url 'about' %}">
                        {% translate "Профиль компании" %}
                    </a>
                </li>
                <li>
                    <a class="p-4 block border-b text-gray-700 hover:bg-gray-100" href="{% url 'corp' %}">
                        {% translate "Корпоративная культура" %}
                    </a>
                </li>
                <li>
                    <a class="p-4 block border-b text-gray-700 hover:bg-gray-100" href="{% url 'org' %}">
                        {% translate "Организационная структура" %}
                    </a>
                </li>
            </ul>
        </div>

        <div class="bg-white w-full shadow rounded p-4">
            <div class="text-gray-500">
                <span class="mb-5 block text-gray-500">
                    {% blocktranslate %}
                        "Объект" в логистике - это та часть материального материала в мире 
                        материальных материалов, которая обладает одновременно характеристиками 
                        материальной сущности и может подвергаться физическому перемещению. 
                        "Поток" - это физическое движение. Это движение имеет свой ограниченный 
                        смысл, то есть принимая Землю за Физическое движение, которое происходит 
                        относительно Земли в системе отсчета, называется «перемещением». Масштаб 
                        потока может представлять собой большой географический диапазон или это 
                        может быть микроскопическое движение в одном и том же регионе. и той же 
                        среды, или мелкомасштабное перемещение., сочетание "объекта" и "потока" 
                        представляет собой развитую форму движения, основанную на естественном 
                        движении. Ее взаимосвязь происходит между экономическими целями и физическими 
                        объектами, между военными целями и физическими объектами, и даже между 
                        определенными. Найдите законы движения между социальными целями и физическими 
                        объектами. Таким образом, логистика — это не только сочетание «объектов» и 
                        «потоков» в вышеупомянутых ограниченных условиях, но, что более важно, 
                        это сочетание, ограниченное военными, экономическими и социальными условиями, 
                        и это наблюдается с военной точки зрения. экономические и социальные 
                        перспективы Транспорт для удовлетворения определенных военных, экономических 
                        и социальных потребностей.
                    {% endblocktranslate %}
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock content %}