{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% translate "О нас" %}{% endblock title %}

{% block content %}
<div>
    <div class="max-w-screen-xl mx-auto p-4 flex items-start">
        <div class="bg-white w-96 mr-4 shadow rounded">
            <ul>
                <li>
                    <a class="p-4 block border-b text-gray-700 hover:bg-gray-100" href="{% url 'about' %}">
                        {% translate "Профиль компании" %}
                    </a>
                </li>
                <li>
                    <a class="p-4 block border-b text-gray-700 hover:bg-gray-100" href="{% url 'corp' %}">
                        {% translate "Корпоративная культура" %}
                    </a>
                </li>
                <li>
                    <a class="p-4 block border-b text-gray-700 hover:bg-gray-100" href="{% url 'org' %}">
                        {% translate "Организационная структура" %}
                    </a>
                </li>
            </ul>
        </div>

        <div class="bg-white w-full shadow rounded p-4">
            <h1 class="text-2xl font-semibold mb-5">{{ logistic.title }}</h1>

            <div class="text-gray-500">
                <span class="mb-5 block text-gray-500">
                    {% blocktranslate %}
                    Компания Yiwu Herun International Freight Forwarding Co., Ltd.
                    (далее именуемая «Herun International») имеет штаб-квартиру в Иу.
                    Основными сегментами бизнеса являются международная логистика Китай-Россия,
                    международная логистика Китай-Казахстан и дистрибуция по всей России.
                    Мы усердно работаем над созданием комплексной системы логистической цепочки
                    поставок для китайско-российской международной торговли и полностью стремимся
                    создавать профессиональные логистические решения для наших клиентов.
                    Включая бронирование, укладку, выставление счетов, экспортную таможенную
                    декларацию, импортную таможенную очистку, доставку от двери до двери,
                    складирование, транспортировку, страхование и многие другие логистические
                    услуги.
                    {% endblocktranslate %}
                </span>
                <span class="mb-5 block text-gray-500">
                    {% blocktranslate %}
                        Компания Herun International Logistics имеет склады и офисы в Гуанчжоу, 
                        Линьи, Алматы, Москве и других местах Китая, а также установила партнерские 
                        отношения с более чем 100 зарубежными агентами. Это одна из самых 
                        быстрорастущих компаний в сфере международных грузоперевозок Иу.
                    {% endblocktranslate %}
                </span>
                <span class="mb-5 block text-gray-500">
                    {% blocktranslate %}
                        Herun International Logistics всегда придерживается основной культуры 
                        предоставления клиентам безопасных, быстрых и высококачественных услуг, 
                        создает элитную команду первоклассных международных транспортных услуг, 
                        постоянно оптимизирует сервисные продукты компании и предоставляет клиентам 
                        внутри страны и за рубежом лучшие условия. опыт логистических услуг.Станьте 
                        первоклассной сервисной платформой в Китае.
                    {% endblocktranslate %}
                </span>
                <h1 class="font-semibold mb-2">{% translate "Ценности и концепции" %}</h1>
                <span class="mb-5 block text-gray-500">
                    {% blocktranslate %}
                        
                        Доверие стоит на первом месте, честность — это основа, богатство приходит 
                        от пути, а прибыль получается от праведности. Будьте ориентированы на 
                        клиента, постоянно оптимизируйте качество обслуживания и создавайте большую 
                        ценность для клиентов;
                        Выполняя миссию содействия экономическому процветанию «Пояса и пути», мы 
                        будем шаг за шагом продвигаться вперед и вносить свой вклад в 
                        китайско-российскую торговлю.
                    {% endblocktranslate %}
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock content %}